@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: transparent;
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/src/assets/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.github_btn {
  @apply rounded-l-full border border-white bg-[#0E1117e2] py-1.5 px-5 text-sm text-white transition-all hover:bg-[#8b8a8a] hover:border-[#fff] hover:text-black;
}

.sponsor_btn {
  @apply rounded-r-full border border-white bg-[#db61a2e2] py-1.5 px-4 text-sm text-white transition-all hover:bg-[#9c4674e2] hover:border-[#fff] hover:text-black;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-white text-gray-300 sm:text-6xl text-center;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-300 sm:text-xl text-center max-w-2xl;
}

.url_input {
  @apply block w-full rounded-md border border-gray-200 bg-white/80 py-2.5 pl-10 pr-12 text-sm shadow-lg font-satoshi font-medium focus:border-white focus:outline-none focus:ring-0;
}

.submit_btn {
  @apply hover:border-gray-700 hover:text-gray-700 absolute inset-y-0 right-0 my-1.5 mr-1.5 flex w-10 items-center justify-center rounded border border-gray-500 font-sans text-sm font-medium text-gray-500;
}

.link_card {
  @apply p-3 flex justify-start items-center flex-row bg-white/80 border border-gray-200 gap-3 rounded-lg cursor-pointer;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.blue_gradient {
  @apply font-black bg-gradient-to-r from-blue-500 to-cyan-400 bg-clip-text text-transparent;
}

.summary_box {
  @apply rounded-xl border-gray-100 bg-white/80 shadow-[inset_10px_-50px_94px_0_rgb(209,213,218)] backdrop-blur p-4;
}

/* Preloader Animation */

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #1A1A1A;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 400ms;
  z-index: 2000;
}

.preloader.hide {
  opacity: 0;
  pointer-events: none;
}

.preloader .dots-container {
  display: flex;
  margin-bottom: 48px;
}

.preloader .dot {
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}

.preloader .dot.first {
  background: #FF5523;
  animation: bounce 1000ms infinite;
}

.preloader .dot.second {
  background: #FF5523;
  animation: bounce 1000ms infinite;
  animation-delay: 200ms;
}

.preloader .dot.third {
  background: #FF5523;
  animation: bounce 1000ms infinite;
  animation-delay: 400ms;
}

@keyframes bounce {
  50% {
      transform: translateY(16px);
  }

  100% {
      transform: translateY(0);
  }
}